<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtube Yellow Ward</title>
</head>
<body>
    <div id="ts-ext-page">
        <h1>Youtube Yellow Ward</h1>
        <h3>White Urls</h3>
        <div>
            <input type="text" v-model="urlAdd">
            <button @click="addUrl(urlAdd)" v-show="urlAdd != ''">Add</button>
            <span v-text="messageAdd" v-show="messageAdd != ''"></span>
        </div>
        <div>
            <div :key="key" v-for="(url, key) in whiteUrl">
                <span v-show="oldEditUrl != url" v-text="url"></span>
                <input v-if="oldEditUrl == url" v-model="newEditUrl" type="text">
                <button @click="deleteUrl(url)">Delete</button>
                <button v-if="oldEditUrl != url" @click="editUrl(url)">Edit</button>
                <button v-if="oldEditUrl == url" @click="saveEditUrl(url, newEditUrl)">Save</button>
                <button v-if="oldEditUrl == url" @click="editUrl('')">Cancel</button>
            </div>
        </div>
    </div>
    <script src="js/page.js"></script>
</body>
</html>