<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtube Yellow Ward</title>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="bg">
        <div id="ts-ext-page" v-cloak>
            <div class="ts-ext-lang">
                <span v-text="lang == 'vi' ? 'VI': 'EN'"></span>
                <ul>
                    <li @click="changeLang('en')">English</li>
                    <li @click="changeLang('vi')">Tiếng Việt</li>
                </ul>
            </div>
            <div class="ts-ext-menu">
                <ul>
                    <li @click="changePage('setting')" v-bind:class="{active: (page=='setting')}">{{ $t("page.setting") }}</li>
                    <li @click="changePage('about')" v-bind:class="{active: (page=='about')}">{{ $t("page.about") }}</li>
                </ul>
            </div>
            <!-- <div class="ts-ext-btn-group">
                <span>
                        <font-awesome-icon v-bind:icon="['fas', 'cog']" />
                </span>
            </div> -->
            <div class="product-page">
                <h1>Yellow ward</h1>
            </div>
            <div class="about" v-if="page=='about'">
                <div class="about-info">
                    <img src="https://pbs.twimg.com/profile_images/811890020894113792/Zc-hDoYS_400x400.jpg" alt="">
                    <div class="about-line-info">
                        <h3>Sang Nguyen</h3>
                        <div><span class="fa fa-map-marker"></span> Ho Chi Minh city, Vietnam</div>
                        <div><span class="fa fa-code"></span> Member of <a href="https://azitlab.github.io/landing-page/index.html">AZITLAB</a></div>
                        <div><span class="fa fa-at"></span> <a href="mailto:thaisang.nguyen3894@gmail.com">thaisang.nguyen3894@gmail.com</a></div>
                    </div>
                </div>
                <p>My name is Sang, I'm <span>{{ age }}</span> and I'm full-stack web developer. I live in Hochiminh city, Vietnam. I'm specialized in Vue.js, Angular IO (for frontend) and Laravel, Expressjs (for backend).</p>
            </div>
            <div class="ts-ext-tab-group" v-if="page=='setting'">
                <!-- <div class="ts-ext-tab-title">
                    <ul>
                        <li v-bind:class="{'active': currentTab == 'support_urls'}" @click="changeTab('support_urls')">{{ $t("page.support_urls") }}</li>
                        <li v-bind:class="{'active': currentTab == 'about_us'}" @click="changeTab('about_us')">About us</li>
                    </ul>
                </div> -->
                
                <div class="ts-ext-tab-contents">
                    <div class="ts-ext-tab-content" v-show="currentTab == 'support_urls'">
                        <div class="ts-ext-add-url">
                            <input v-bind:placeholder=" $t('page.add_support_url') " type="text" v-model="urlAdd">
                            <button @click="addUrl(urlAdd)" v-show="urlAdd != ''">{{ $t("page.add") }}</button>
                            <span v-text="messageAdd" v-show="messageAdd != ''"></span>
                        </div>
                        <div class="ts-ext-list-support">
                            <div class="ts-ext-support-url" :key="key" v-for="(url, key) in whiteUrl">
                                <div class="ts-ext-url-text">
                                    <span v-bind:class="{[lang]: true}" v-show="oldEditUrl != url"><a v-bind:href="url"  v-text="url"></a></span>
                                    <input v-bind:class="{[lang]: true}" v-if="oldEditUrl == url" v-model="newEditUrl" type="text">
                                </div>
                                <div class="ts-ext-support-btn">
                                    <button v-if="oldEditUrl != url" @click="editUrl(url)">{{ $t("page.edit") }}</button>
                                    <button v-if="oldEditUrl == url" @click="saveEditUrl(url, newEditUrl)">{{ $t("page.save") }}</button>
                                    <button v-if="oldEditUrl == url" @click="editUrl('')">{{ $t("page.cancel") }}</button>
                                    <button @click="deleteUrl(url)">{{ $t("page.delete") }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ts-ext-tab-content" v-show="currentTab == 'about_us'">
                        <h4>Member:</h4>
                        <a href="">Sang Nguyen</a> - frontend, product director
                    </div>
                </div>
            </div>
            <div class="footer">
                Make by <a href="https://tasynguyen3894.github.io">Tasy Nguyen</a>
            </div>
        </div>
        
    </div>
    <script src="js/page.js"></script>
</body>
</html>